<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Mercant Domain-->
    <add key="PlugIn.Payment.Domain" value="https://azmisahin.com"/>

    <!--Test Azure Payment-->
    <!--
    <add key="PlugIn.Payment.AzurePayment.Uri.Token" value="https://ctpe.net"/>
    <add key="PlugIn.Payment.AzurePayment.Uri.Xml" value="https://ctpe.io"/>
    <add key="PlugIn.Payment.AzurePayment.Sender" value=""/>
    <add key="PlugIn.Payment.AzurePayment.Channel" value=""/>
    <add key="PlugIn.Payment.AzurePayment.User" value=""/>
    <add key="PlugIn.Payment.AzurePayment.Password" value=""/>
    <add key="PlugIn.Payment.AzurePayment.PaymentCode" value="CC.DB"/>
    <add key="PlugIn.Payment.AzurePayment.PaymentMemo" value="return_code=000.100.110"/>
    <add key="PlugIn.Payment.AzurePayment.Type" value="DB"/>
    <add key="PlugIn.Payment.AzurePayment.Mode" value="LIVE"/>
    <add key="PlugIn.Payment.AzurePayment.responses" value="SYNC"/>
    <add key="PlugIn.Payment.AzurePayment.Token" value=""/>
    -->

    <!--Test Azure Payment-->
    <add key="PlugIn.Payment.AzurePayment.Uri.Token" value="https://test.ctpe.net"/>
    <add key="PlugIn.Payment.AzurePayment.Uri.Xml" value="https://test.ctpe.io"/>
    <add key="PlugIn.Payment.AzurePayment.Sender" value="ff80808142b2c03c0142b7a7339603e0"/>
    <add key="PlugIn.Payment.AzurePayment.Channel" value="ff80808142b2c03c0142b7a7339803e5"/>
    <add key="PlugIn.Payment.AzurePayment.User" value="8a82941847c4d0780147cea1d1730dcc"/>
    <add key="PlugIn.Payment.AzurePayment.Password" value="n3yNMBGK"/>
    <add key="PlugIn.Payment.AzurePayment.PaymentCode" value="CC.DB"/>
    <add key="PlugIn.Payment.AzurePayment.PaymentMemo" value="return_code=000.100.110"/>
    <add key="PlugIn.Payment.AzurePayment.Type" value="DB"/>
    <add key="PlugIn.Payment.AzurePayment.Mode" value="INTEGRATOR_TEST"/>
    <add key="PlugIn.Payment.AzurePayment.responses" value="SYNC"/>
    <add key="PlugIn.Payment.AzurePayment.Token" value=""/>

  </appSettings>
</configuration>